.card-size {
    width: 486px; 
    height: 643px;
    cursor: pointer;
}

.icon{
    font-size: 50px;
    color: black;
    transition: color 0.3s ease; 
    background-color: rgb(165, 165, 165);
    padding: 60px;
    border-radius: 5%;

}

.card-size:hover .icon {

    color: #fff;
    padding: 58px;
    font-size: 60px;
}

