.spin-wrapper {
    display: flex;
    height: 500px;
    width: 100%;
}

.card {
    height: 200px;
}

.title {
    font-size: 20px;
    margin-bottom: 20px;
}

.card-cover {
    padding-right: 10px;
}

.carousel-wrapper {
    padding-left: 10px;
    margin: 0 -8px;

}

.carousel-wrapper .slick-track {
    display: flex;
}

.no-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title-card {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.decription-card {
    position: relative;
    top: -10px;
}
