.inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%; 

}

.carousel {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.divider {
    margin: 0 0 100px 0;
}

.divider-1 {
    margin: 0 0 50px 0;
}
