.card {
    height: 200px;
}

.title {
    font-size: 30px;
    margin-bottom: 30px;
    
}

.card-cover {
    width: 100%;
    box-sizing: border-box;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
}
