.card {
    height: 200px;
}

.title {
    font-size: 30px;
    margin-bottom: 30px;
    
}

.card-cover {
    padding-right: 10px; 
}

.carousel-wrapper {
    padding-left: 10px; 
    margin: 0 -8px;
}
