.body {
    padding-right: 50px;
    padding-left: 30px;
}

//Panel color
.color-gird {
    display: grid;
    grid-template-columns: repeat(4, 41px);
    padding-left: 25px;
    gap: 10px;
    max-width: 200px;
}

.content-wrapper {
    background-color: rgb(228, 228, 228);
}

.color-item {
    align-items: center;
    cursor: pointer;
  
}

.color-circle {
    width: 24px;
    height: 24px;
    border-radius: 25%;
    margin-bottom: 4px;
    &:hover {
        border: 1px solid #000;
    }
}

.color-name {
    font-size: 12px;
    text-align: center;
}
